#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}

<section class="ui segment">
  <img class="ui image" src="/public/images/logo.png">
  <p>
  <h3>Best Gym Ever!!! (T&Cs apply)</h3>
  </p>
  <p>
    Jim's Wonderful Gym, where you can store all of your vital details from chest size to upper arm size.<br>
    Our trainers will regularly commment on your progress and you can check your status of BMI, Ideal Weight & your trends.
  </p>
  <p>
    Contact us: info@jimsgym.com<br>
    Address: 2 Galapagos Drive<br>
    Island 2 <br>
    Galapogos Islands<br>
    Ecuador<br>
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2042741.3324489442!2d-91.54471761755663!3d-0.3830325789223115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9aab62cf45a89f29%3A0x2be65861e63cf793!2sGal%C3%A1pagos+Islands!5e0!3m2!1sen!2sie!4v1554506225868!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>